<ion-header>
  <ion-toolbar>
    <ion-title>music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <img src="https://s2.glbimg.com/murfXIsuv7-TsyT69J3Nq8jZRcs=/0x0:640x640/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/N/n/H8V5k5RCSeBogzub0pBw/prince-originals-1556199148-640x640.jpg">
  <h2>
    Musica Anos 80
  </h2>
  <p>Prince</p>

</ion-card>

  <ion-button full (click)="startVideo()">Start Video</ion-button>
  <ion-button full (click)="startAudio()">Start Audio</ion-button>
  <ion-button full (click)="stopAudio()" color="danger">Stop Audio</ion-button>

</ion-content>
